In [1]:
import sys
assert sys.version_info >= (3, 5)
# Python ≥3.5 is required
# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"
# Common imports
import numpy as np
import os
import tarfile
import urllib
import pandas as pd
import urllib.request

from sklearn import preprocessing
from sklearn import utils
# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
walmart = pd.read_csv(r"C:\Users\DELL\Downloads\walmart-sales-dataset-of-45stores.csv")
walmart_1 = walmart[["Store", "Weekly_Sales"]]
walmart_1.head(5)

   Store  Weekly_Sales
0      1    1643690.90
1      1    1641957.44
2      1    1611968.17
3      1    1409727.59
4      1    1554806.68

In [3]:
walmart_2 = walmart[["Store", "Unemployment", "Fuel_Price"]]
walmart_2.head(5)

   Store  Unemployment  Fuel_Price
0      1         8.106       2.572
1      1         8.106       2.548
2      1         8.106       2.514
3      1         8.106       2.561
4      1         8.106       2.625

In [4]:
walmart_3 = walmart[["Store", "Holiday_Flag", "Fuel_Price", "Weekly_Sales"]]
walmart_3.head(5)

   Store  Holiday_Flag  Fuel_Price  Weekly_Sales
0      1             0       2.572    1643690.90
1      1             1       2.548    1641957.44
2      1             0       2.514    1611968.17
3      1             0       2.561    1409727.59
4      1             0       2.625    1554806.68

In [5]:
walmart_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Holiday_Flag  6435 non-null   int64
 2   Fuel_Price    6435 non-null   float64
 3   Weekly_Sales  6435 non-null   float64
dtypes: float64(2), int64(2)
memory usage: 201.2 KB

In [6]:
weekly_sales_col = walmart_3[["Weekly_Sales"]].to_numpy().flatten()
y = pd.cut((weekly_sales_col), bins=[0,1400000.00, 1550000.00, 1800000.00, float('inf')],labels=[0,1,2,3])
print(y)

[2, 2, 2, 1, 2, ..., 0, 0, 0, 0, 0]
Length: 6435
Categories (4, int64): [0 < 1 < 2 < 3]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
     walmart_3[["Store", "Holiday_Flag", "Fuel_Price"]], y, random_state=None)
type(y_train)

pandas.core.arrays.categorical.Categorical

In [8]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=2) # creat an object knn (your model)
knn.fit(X_train, y_train) # train your classifier using the training  set (features X-train & output labels y-train)
# model represention changes after learning

KNeighborsClassifier(n_neighbors=2)

In [9]:
y_pred = knn.predict(X_test)  # evaluate the model on your test data 
print("Test set predictions:\n", y_pred) # print out the predictions for the test data

Test set predictions:
 [3 0 0 ... 0 3 0]

In [10]:
print("Test set score: {:.2f}".format(knn.score(X_test, y_test)))

Test set score: 0.85

In [11]:
y_scores = np.mean(y_pred == y_test)
print(y_scores)

0.8502175264139217

In [12]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8502175264139217